* {
    box-sizing: border-box;
    /*border: 1px solid white;*/
}

/*================================================================================/
/*     Base View
/*===============================================================================*/

body {
    color: white;
    font-family: 'Droid Sans', sans-serif;
    font-family: 'Proza Libre', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Abel', sans-serif;
    /*max-width: 1200px;*/
    min-width: 230px;
    margin: 0 auto;
}

header {
    background-image: url('../assets/foggy-woods.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    float: left;
    margin: 0 auto;
    padding-top: 15px;
    vertical-align: middle;
    /*border: 1px solid white;*/
}

.title {
    font-family: 'Lobster', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    float: left;
    margin: 0;
    margin-left: 10%;
    text-shadow: 0 0 3px rgba(255, 74, 12,1);
}


.header-nav {
    /*font-family: 'Cabin Condensed', sans-serif;*/
    position: relative;
    display: inline-block;
    float: right;
    top: 16px;
    margin-right: 12%;
    font-size: 36px;
}

.header-nav:hover .dropdown-content {
    display: block;
}

.header-nav:hover {
    color: rgba(0, 178, 138, 0.8);
}


.dropdown-content {
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown-content li {
    color: white;
    list-style: none;
}

 .dropdown-content {
    display: none;
    position: absolute;
    top: 42px;
    right: 0;
    background-color: rgba(255, 74, 12,1);
    background-color: rgba(0, 178, 138, 0.8);
    /*background: -webkit-linear-gradient(-90deg, rgba(64, 44, 38, 0.7), rgba(64, 44, 38, 1));*/
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 0;
    margin: 0;
    z-index: 1;
}

.dropdown-content li {
    list-style: none;
    padding: 3px;
}

.show-nav{
    display: inline-block;
}



#landing-container {
    position: relative;
    max-width: 400px;
    height: 100vh;
    text-align: center;
    margin: 40vh auto 0;
    font-size: 25px;
}

#landing-container h1 {
    margin: 0;
}

#landing-container h3 {
    margin: 0;
}

#landing-content {
    position: relative;
    bottom: 100px;
}

#mission-statement {
    text-shadow: 0 0 40px rgba(34, 38, 41, 0.7),
                 0 0 40px rgba(34, 38, 41, 0.7),
                 0 0 40px rgba(34, 38, 41, 0.7);
}

#explore-btn {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: rgba(255, 74, 12, 0.8);
    color: white;
    font-size: 20px;
    text-decoration: none;
    width: 240px;
    height: 60px;
    line-height: 60px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease;
}

#explore-btn:hover {
    background: rgba(0, 178, 138, 0.8);
}



main {
    background: url('../assets/DSC01398-Edit.jpg');
    background-position-x: 80%;
    background-position-y: 50%;
    background-attachment: fixed;
    position: relative;
    float: left;
    min-height: 100vh;
    width: 100%;
}

.form-wrap {
    background: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    /*min-width: 320px;*/
    height: 100px;
    box-shadow: 0 5px 10px transparent;
    transition: all 1s ease;
}

.form-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    width: 100%;
    height: 100px;
    padding-top: 0;
    z-index: 5;
    transition: all 1s ease;
}

.filter span {
    color: rgba(255, 74, 12, 0.9);
}

/* * * * *  Search Nav  * * * * */
.search-nav {
    /*position: relative;*/
    /*display: inline-block;*/
    /*margin-left: 30px;*/
    transition: all 0.4s ease-in-out, color 0s;
}

.search-nav.fixed-search-bar {
    /*position: relative;*/
    transition: all 0.4s ease-in-out, color 0s;
}

#search-nav-burger {
    font-size: 32px;
}

.search-nav:hover{
    color: rgba(255, 74, 12,1);
}

.live {
    color: white;
}

.search-dropdown-content {
    display: none;
    background: rgba(55, 71, 79, 0.9);
    padding: 0;
    margin: 0;
    margin-top: 8px;
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 5;
}


.search-dropdown-content li {
    list-style: none;
    padding: 3px;
    font-size: 24px;
}



 .search-dropdown-content li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,0.4);;
}

.search-dropdown-content a {
    color: white;
    display: block;
    text-decoration: none;
}

.search-nav:hover:not('live') {
    color: rgba(255, 74, 12,1);
    transition: color 0s ease;
}

.search-dropdown-content li:hover {
    background: rgba(0, 178, 138, 0.8);
}


.search-nav:hover .search-dropdown-content {
    display: block;
}

#live-nav {
    background: rgba(55, 71, 79, 0.9);
    color: white;
    display: none;
    position: absolute;
    left: 52%;
    top: 95%;
    z-index: -1;
    padding: 0;
}

#live-nav li {
    width: 100px;
}

.search-dropdown-content #live-list:hover #live-nav{
    display: block;
}

.user-query::before, 
.user-query::after {
    content: '"';
}

#search-btn {
    background: rgba(255, 74, 12, 0.9);
    color: white;
    width: 100px;
    height: 50px;
    vertical-align: top;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

#query-label {
    max-width: 40%;
}


/* * * * *  Results Page  * * * * */
.results-container {
    color: rgba(255, 74, 12, 0.9);
    color: rgba(0, 178, 138, 0.8);
}

.results-filter {
    background: rgba(34, 38, 41, 0.9);
    box-shadow: 0 0 34px 7px rgba(0,0,0,0.6)
}

.results div {
    text-align: center;
    width: 320px;
    height: 250px;
}

.slide-label {
    max-height: 70px;
    overflow: hidden;
}


.results {
    z-index: -5;
}

.page-controls-container {
    /*position: relative;*/
    color: rgba(255, 74, 12, 0.9);
    clear: both;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.next-page-btn {
    margin-left: 10px;
}

.prev-page-btn {
    margin-right: 10px
}

.prev-page-btn.toggled {
    color: rgba(255,255,255,0.3);
}

.prev-page-btn:hover,
.next-page-btn:hover {
    cursor: pointer;
}

.prev-page-btn.toggled:hover{
    cursor: default;
}

.page-num-wrap {
    color: rgba(255, 74, 12, 0.4);
    position: absolute;
    right: 0;
    padding: 5px;
}

/* * * * * Lightbox (Base) * * * * */

.modal-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    /*z-index: 1;*/
}

#video-name,
#channel-name,
#month,
#year {
    color: rgba(134, 194, 50, 1);
}

#month {
    margin-left: 4px;
}

#channel-outer-wrap {
    margin-top: 20px;
}

.channel-wrap {
    display: inline-block;
    margin: 0;
    width: 110px;
    vertical-align: top;
}

.fa.fa-angle-double-right {
    font-size: 16px;
    margin: 0 3px;
}

.published-date .fa.fa-angle-double-right {
    margin-left: 7px;
    margin-right: 0;
}

footer {
    position: relative;
    width: 100%;
    height: 100px;
    background: rgba(159,173,115, 0.9);
    background: rgba(52, 81, 94, 1);
    background: rgba(255, 74, 12, 1);
    background: rgba(0, 178, 138, 1);

    text-align: center;
}

.footer-nav {
    display: inline-block;
    padding-left: 15px;
    margin: 0;
}

.footer-nav li {
    display: inline-block;
    margin-right: 15px;
    border-bottom: 2px solid transparent;
    transition: all 200ms linear;
}


.footer-nav li:first-of-type {
    margin-right: 50px;
}

.footer-nav li:hover {
    border-bottom: 2px solid white;
    border-bottom-color: rgba(255, 74, 12,0.6);
}

.footer-nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.copyright {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;;
}


.search-form {
        position: relative;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }


/*================================================================================/
/*     Mobile only view
/*===============================================================================*/


@media only screen and (max-width: 330px) {
    #query-label {
        max-width: 36%; /* Account for iphone 5 screen width */
    }
}

@media only screen and (max-width: 415px) {


    #landing-container {
        display: block;
    }


    /* * * * * * * Search Page (Mobile) * * * * * * */
    
    
    .form-wrap {
        background: rgba(0,0,0,0.8);
        padding-top: 1px;
        height: 110px;
    }


    .search-nav {
        position: absolute;
        top: 60px;
        right: 10px;
    }

    .search-nav.fixed-search-bar {
        /*position: absolute;*/
    }

    .search-dropdown-content {
        margin-top: 10px;
    }

    .search-dropdown-content li {
        margin-top: 0;
        font-size: 16px;
    }

    #live-nav {
        left: auto;
        right: 0;
    }

    .filter {
        position: absolute;
        display: inline-block;
        top: 50px;
        right: 30%;
    }

    .filter span {
        display: block;
        text-align: left;
    }

    label[for="hd-checkbox"] {
        margin-right: 10px;
    }


    #query-label {
        position: absolute;
        top: 50px;
        height: 60px;
        overflow: hidden;
        padding-top: 10px;
        /*border: 1px solid white;*/
    }

    #query {
        float: left;
        margin-left: 2.5%;
        width: 95%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 24px;
        border: none;
        border-radius: 3px;
        box-shadow: 0 0 15px 2px rgba(0,0,0,0.5);
    }

    #search-btn {
        display: none;
    }

    #search-btn:hover {
        background: rgba(93, 64, 55, 1);
    }

    .results {
        min-height: 100vh;
        margin-top: 105px;
    }


    .results div {
        display: block;
        margin: 0 auto;
    }

    div.mobile-results-adjust {
        margin-top: 106px
    }

    .video-thumbnail {
        display: block;
        margin: 5px auto;
    }

    .page-controls-container.first {
        display: none;
    }

    /* * * * * * * Lightbox (Mobile) * * * * * * */

    .search-container {
        /*position: relative;*/
    }

    .lightbox {
        color: rgba(97, 137, 47, 1);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .frame-container {
        background: rgba(34, 38, 41, 0.9);
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
    }

    #frame {
        width: 100%;
        height: 250px;
    }

    #result-carousel {
        display: none;
    }

    label[for="result-carousel"],
    label[for="enlarge"],
    label[for="minimize"],
    #enlarge {
        display: none;
    }

    label[for="frame"] {
        border: 1px solid white;
        width: 100%;
    }

    label[for="times"] {
        color: rgba(71, 75, 79, 1);
        margin-right: 20px;
        float: right;
    }

    #times {
        color: rgba(134, 194, 50, 1);
        font-size: 28px;
        padding: 15px;
    }

     #channel-name {
        text-decoration: none;
    }

    .video-hx {
        /*border: 1px solid white;*/
        margin: 0;
    }

    .video-info {
        text-align: center;
        font-size: 24px;
    }

    



}

/*================================================================================/
/* 
/*      Mobile Landscape Views
/*
/*===============================================================================*/
/*@media only screen and (min-width: 565px) and (max-width: 736)  {
    #frame {
        height: 307px;
    }
    
    .frame-container {
        top: 0;
    }

    .video-info {
        position: relative;
        bottom: 30px;
    }
}*/

@media only screen and (min-width: 416px) {
    .dropdown-content {
        display: none;
    }

    .filter {
        position: absolute;
        display: inline-block;
        text-align: left;
        top: 50px;
        right: 50%;
        transform: translateX(50%);
    }

    .filter span {
        display: block;
    }

    label[for="hd-checkbox"] {
        margin-right: 10px;
    }

    .results-container {
        position: relative;
        width: 400px;
        margin: 0 auto;
    }

    .search-nav {
        position: absolute;
        top: 60px;
        right: 10%;
    }

    .form-wrap {
        padding-top: 1px;
    }

    .form-backdrop {
        padding-top: 1px;
        height: 110px;
    }

    #query {
        width: 72%;
        max-width: 280px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 24px;
        vertical-align: top;
    }

     /*#query-label {
        position: absolute;
        top: 50px;
        height: 60px;
        max-width: 190px;
        overflow: hidden;
        padding-top: 10px;
        padding-left: 5%;
        border: 1px solid white; 
    }*/
}

/*================================================================================/
/* 
/*===============================================================================*/
@media only screen and (max-width: 669px) {

    .dropdown-content li:not(:last-of-type) {
        border-bottom: 1px solid rgba(0,0,0,0.4);;
    }

    .dropdown-content li:hover {
        background: rgba(255, 74, 12, 0.9);
    }

    .dropdown-content li:last-of-type:hover {
        /*background: rgba(96, 66, 57, 1);*/
    }

    .dropdown-content li:nth-last-child(2):hover {
        /*background: rgba(96, 66, 57, 1);*/
    }

    .page-controls-container.first {
        display: none;
    }

    .dropdown-content a {
        display: block;
        text-decoration: none;
        color: white;
    }

   
}

/*================================================================================/
/* 
/*===============================================================================*/
@media only screen and (min-width: 670px) {
     #burger {
            display: none;
        }

    .dropdown-content {
        background-color: transparent;
        background: transparent;
        box-shadow: none;
        display: inline-block;
        position: relative;
        top: 0;
        right: 0;
        margin: 0;
    }

    .dropdown-content li:not(:last-of-type) {
        /*border-bottom: none;*/
    }

    .dropdown-content li{
        display: inline-block;
        list-style: none;
        margin-right: 20px;
        font-size: 24px;
        border-bottom: 2px solid transparent;
        transition: all 200ms linear;
    }

     .header-nav a {
        color: white;
        text-decoration: none;
    }

    .header-nav li:hover {
        border-bottom: 2px solid white;
        border-bottom-color: rgba(0,178,138,0.6);
    }

}

@media only screen and (max-width: 749px) { 
    .page-controls-container.top {
        display: none;
    }

    

    .results {
        min-height: 100vh;
        margin-top: 105px;
        padding-top: 35px;
    }

     .results div {
        display: block;
        margin: 0 auto;
    }

     #query-label {
        position: absolute;
        top: 50px;
        height: 60px;
        max-width: 190px;
        overflow: hidden;
        padding-top: 10px;
        padding-left: 5%;
         /*border: 1px solid white; */
    }

   
}




/*================================================================================/
/* 
/*      Desktop View
/*
/*===============================================================================*/

@media only screen and (min-width: 750px) {
    /* * * * * * * * * * * Landing Page * * * * * * * * * * */

    #burger {
        display: none;
    }

    .dropdown-content {
        display: inline-block;
        position: relative;
        top: 0;
        right: 0;
        margin: 0;
    }


    #explore-btn:hover {
        background: rgba(64, 44, 38, 0.9);
        background: rgba(0, 178, 138, 0.8);
        cursor: pointer;

        -webkit-transition: background 0.1s ease-in-out;
        -moz-transition: background 0.1s ease-in-out;
        transition: background 0.1s ease-in-out;
    }

    /* * * * * * * * * * * Search Page (Desktop) * * * * * * * */

    .form-wrap {
        padding-top: 40px;
    }

    .form-backdrop {
        padding-top: 0;
        height: 80px;
    }

    .search-form {
        /*display: inline-block;*/
        width: 80%;
        max-width: 1000px;
        height: 80px;
        margin: 0 auto;
        text-align: center;
        padding-top: 13px;
        transition: all 0.4s ease-in-out;
        /*border: 1px solid white;*/
    }

    .search-nav {
        display: inline-block;
        position: relative;
        top: 0;
        right: 0;
        margin-left: 20px;
    }

    .filter {
        position: initial;
        display: inline-block;
        text-align: left;
        transform: none;
    }

    .filter span {
        display: block;
    }

    .browse-videos-span,
    .search-results-span {
        position: absolute;
        top: 0;
        left: 0;
        padding: 3px;
        max-width: 300px;
        overflow: hidden;
        /*height: 80px;
        line-height: 80px;*/
    }

    .lightbox .search-results-span, 
    .lightbox .browse-videos-span {
        position: relative;
    }

    .search-results-span.hidden {
        display: none;
    }

    .browse-videos-span.hidden {
        display: none;
    }

    #query-label {
        position: relative;
        float: left;
        font-size: 24px;
        width: 20%;
        max-width: 230px;
        height: 80px;
        text-align: center;
        /*border: 1px solid white;*/
        /*margin-top: 15px;*/
    }


    #query {
        width: 40%;
        max-width: initial;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 24px;
        vertical-align: top;
    }
    
    #search-btn:hover {
        background: rgba(0, 178, 138, 0.8);
        cursor: pointer;
    }

    /* * * * * * Results (Desktop) * * * * * */
    
    .results-container {
        max-width: 1400px;
        /*min-height: 100vh;*/
        width: 700px;
        margin: 180px auto;
    }
    
    .results {
        float: left;
        padding-left: 15px;
        padding-top: 20px;
    }

    

    .results div {
        float: left;
        display: inline-block;
        margin-left: 1.5%;
        margin-bottom: 10px;
        transition: all 0.2s ease;
    }


    .results div:hover .video-thumbnail {
        box-shadow: 0 0 20px 2px rgba(255,255,255,0.5);
    }

    .video-thumbnail {
        max-height: 180px;
    }

    #result-carousel .video-thumbnail {
        max-height: 150px;
    }

    #result-carousel .small-video-thumbnail {
        max-height: 40px;
    }

    #next-page-btn:hover,
    .prev-page-btn:hover {
        cursor: pointer;
    }


    /* * * * * * Lightbox * * * * * */

    /*.modal-filter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.9);
        z-index: 1;
    }*/

    .lightbox {
        color: rgba(217, 176, 140, 0.9);
        color: rgba(97, 137, 47, 1);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 10;
    }

    .frame-container {
        background: rgba(44, 53, 49, 1);
        background: rgba(217, 176, 140, 0.6);
        background: rgba(209, 232, 226, 0.6);
        background: rgba(17, 100, 102, 0.6);

        background: rgba(34, 38, 41, 0.9);
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        /*width: 80%;*/
        width: 945px;
        /*max-width: 1040px;*/
        border: 2px solid rgba(107, 110, 112, 0.2);
        z-index: 2;
    }

    .wide {
        width: 1028px;
    }

    #frame-wrap {
        position: relative;
        display: inline-block;
    }

     #frame {
        width: 640px;
        height: 360px;
        border: none;
    }

    label[for="times"] {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        padding: 5px;
        color: rgba(71, 75, 79, 1);
    }

    .video-info {
        /*position: relative;*/
        float: left;
        width: 20%;
        /*height: 380px;*/
        text-align: left;
        padding: 10px;
        /*border: 1px solid white;*/
    }

    .video-hx {
        margin: 0;
    }

    #channel-name {
        text-decoration: none;
    }

    .published-date {
        margin-top: 5px;
    }
    
    #enlarge {
        position: absolute;
        bottom: 10px;
        right: -24px;
    }

    i#enlarge.hidden {
        display: none;
    }

    label[for="enlarge"],
    label[for="minimize"] {
        color: rgba(71, 75, 79, 1);
        position: absolute;
        font-size: 12px;
    }

    label[for="enlarge"] {
        bottom: -15px;
        right: -20px;
    }

    label[for="minimize"] {
        bottom: -15px;
        right: 0;
    }

    #minimize {
        color: rgba(97, 137, 47, 1);
        font-size: 15px;
        margin: 0 5px;
    }


    i.fa.fa-long-arrow-up {
        font-size: 13px;
        margin-left: 5px;
    }

    i.fa.fa-long-arrow-right {
        font-size: 15px;
        vertical-align: text-top;
    }

    #times {
        color: rgba(134, 194, 50, 1);
        font-size: 28px;
        padding: 5px;
    }

    #times:hover,
    #minimize:hover,
    #enlarge:hover {
        cursor: pointer;
    }

    .frame-container #times.hd-4k {
        position: absolute;
        top: -13px;
        right: -34px;
    }

   

    #result-carousel {
        /*background: rgba(17, 100, 102, 1);*/
        /*background: rgba(44, 53, 49, 1);*/
        /*background: rgba(107, 110, 112, 1);*/
        margin: 20px;
    }

    #result-carousel.small-carousel {
        margin: 0;
        width: 80%;
    }

    div#result-carousel.responsive.hd_4k.slick-initialized.slick-slider.slick-dotted {
        margin: 0;
    }

    label[for="result-carousel"] {
        display: block;
        width: 200px;
        max-height: 60px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }

    .slide-label {
        display: block;
    }

    /*.slick-slide:first-of-type {
        padding-left: 10px;
    }*/

    .slick-list {
        background: rgba(44, 53, 49, 0.7);
        overflow: hidden;
    }

    .slick-track {
        margin: 5px;
        padding: 15px;
    }

    .small-slick-track {
        padding: 0;
    }

    #lbox.frame-container.slick-track.hd_4k {
        padding: 0;
    }

    .slick-slide {
        background: rgba(0,0,0,0.1);
        display: inline-block;
        overflow: hidden;
        width: 275px;
        /*height: 210px;*/
        vertical-align: top;
        text-align: center;
        margin: 0 4px;
        padding: 3px;
    }

    .small-slick-slide {
        width: 190px;
        height: 80px;
    }

    .slick-slide:hover {
        /*box-shadow: 0 0 15px 8px rgba(0,0,100,0.6);*/
        box-shadow: 0 0 15px 8px rgba(134, 194, 50, 0.3);
        box-shadow: 0 0 15px 8px rgba(71, 75, 79, 0.6);
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .slick-dots li.slick-active button:before {
        color: rgba(209, 232, 226, 1);
        font-size: 10px;
    }

    .slick-dots li button:before {
        color: rgba(209, 232, 226, 1);
        font-size: 10px;
    }

    /*.user-query::before, 
    .user-query::after {
        content: '"';
    }*/


    .footer-nav li:first-of-type {
        margin-right: 100px;
    }
    
    .fixed-search-bar,
    #query-label {
        /*padding-top: 10px;*/
    }
}


@media only screen and (min-width: 910px) {
    .search-nav {
        /*position: absolute;
        display: inline-block;
        margin-left: 20px; */
    }

    .search-dropdown-content {
        /*margin-top: 0;*/
        /*top: 54px;*/
    }
}

 



@media only screen and (min-width: 1020px) {
    .results-container {
        width: 1023px;
    }

    .results {
        padding-left: 0;
    }
}

@media only screen and (min-width: 1070px) {
    .frame-container {
        width: 1030px;
    }
}

@media only screen and (min-width: 1380px) {
    .results-container,
    .page-controls-container {
        width: 1380px;
    }
}





.hidden {
    display: none;
}

.clearfix {
    clear: both;
}


/*rgb(193,193,119)  Lighter */

/*rgb(159,173,115)  Light  */

/*rgb(81,106,69)    Dark */

/*rgb(75,93,63)*/